.main {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
input {
  border-style: none none solid none;
  font-size: larger;
}

input:focus {
  outline-style: none;
  border-bottom-width: 3px;
  border-bottom-color: palevioletred;
}
