.main {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
input {
  border-style: none none solid none;
  font-size: larger;
}

input:focus {
  outline-style: none;
  border-bottom-width: 3px;
  border-bottom-color: palevioletred;
}

.button {
  padding: 4px 8px;
  width: 30%;
  background-color: brown;
  color: wheat;
}

.error {
  font-weight: 700;
  color: rgb(228, 47, 47);
}
